In [50]:
# generate nth fibonacci series
def gen_fibonacii(size):
    ds = [0, 1]
    for i in range(1, size):
        ds.append(sum(ds[len(ds)-2:len(ds)]))
    
    return ds[size]

In [54]:
gen_fibonacii(9)

34

In [93]:
# check armstrong numbers
def check_armstrong_num(num):
    numTstr = str(num)
    each_num = [char for char in numTstr]
    each_cube = []
    for i in range(len(each_num)):
        each_cube.append(int(each_num[i])**3)
    if sum(each_cube) == num:
        print("Number is Armstrong number")
    else:
        print("Number is not an Armstrong number")

In [100]:
check_armstrong_num(2)

Number is not an Armstrong number

In [137]:
# reverse list
def reverse_list(to_r):
    length = len(to_r)
    reverse_list = []
    for i in range(1, length+1):
        reverse_list.append(to_r[length-i])
    
    return reverse_list

In [151]:
l = [i for i in range(0,15)]

In [152]:
print("List we want to reverse")
print(l)
print("Reverse using custom func")
reverse_list(l)

List we want to reverse
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Reverse using custom func

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [12]:
# multiply all elements within list
sample_list = [2,3,4]

def multiply_list_ele(inp):
    final = [1]
    for i in range(len(inp)):
        final.append(inp[i]*final[i])
    
    return final[len(inp)]

In [17]:
sample_list = [i for i in range(1,15)]
multiply_list_ele(sample_list)

87178291200

In [18]:
def multiply_list_ele(inp):
    result = 1
    for i in range(len(inp)):
        result *= inp[i]
    
    return result

In [19]:
sample_list = [i for i in range(1,15)]
multiply_list_ele(sample_list)

87178291200

In [162]:
# divide list into N chunks
my_list = ['geeks', 'for', 'geeks', 'like',
           'geeky','nerdy', 'geek', 'love',
               'questions','words', 'life']

In [169]:
def divide_list(L, n):
    for i in range(0, len(L), n):
        print(L[i:i+n])

In [170]:
divide_list(my_list, 5)

['geeks', 'for', 'geeks', 'like', 'geeky']
['nerdy', 'geek', 'love', 'questions', 'words']
['life']

In [168]:
for i in range(0, 11, 5):
    print(i, i+5)

0 5
5 10
10 15

In [5]:
# sort dictionary by value
Sample_Dict = {0: 10, 1: 20, 2: 5, 3: 45}

In [6]:
Sample_Dict

{0: 10, 1: 20, 2: 5, 3: 45}

In [18]:
keys = []
val = []
for i,j in Sample_Dict.items():
    keys.append(i)
    val.append(j)
val.sort()

dict(zip(keys, val))

{0: 5, 1: 10, 2: 20, 3: 45}

In [19]:
import operator

In [24]:
sorted(Sample_Dict.items(), key = operator.itemgetter(1), reverse=True)

[(3, 45), (1, 20), (0, 10), (2, 5)]

In [25]:
# Python script to add a key to a dictionary
# Sample Dictionary : {0: 10, 1: 20}
# Expected Result : {0: 10, 1: 20, 2: 30}
Sample_Dict

{0: 10, 1: 20, 2: 5, 3: 45}

In [26]:
Sample_Dict[4] = 100

In [27]:
Sample_Dict

{0: 10, 1: 20, 2: 5, 3: 45, 4: 100}

In [29]:
# Python program to multiply all the items in a dictionary
Sample_Dict

{0: 10, 1: 20, 2: 5, 3: 45, 4: 100}

In [30]:
# expeected output
10*20*5*45*100

4500000

In [41]:
result = 1
for i in Sample_Dict.values():
    result *= i
print(result)

4500000

In [42]:
# Python script to print a dictionary where the keys 
# are numbers between 1 and 15 (both included) and the values are square of keys.
keys = [i for i in range(1, 16)]

In [44]:
val = [x**2 for x in keys]

In [46]:
new_dict = dict(zip(keys, val))

In [47]:
new_dict

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [51]:
sample_data = {'1':['a','b'], '2':['c','d']}
# Expected Output:
# ac
# ad
# bc
# bd

In [52]:
sample_data

{'1': ['a', 'b'], '2': ['c', 'd']}

In [63]:
list1 = sample_data['1']
list2 = sample_data['2']

In [64]:
for i in range(2):
    for j in range(2):
        print(list1[i]+list2[j])

ac
ad
bc
bd

In [4]:
print('TD-%d Algorithm' % 10)

TD-10 Algorithm

In [311]:
import pandas as pd

In [312]:
voc = ['walmart', 'us', 'market', 'box', 'this', 'is', 'sample']

In [320]:
df = {'label': ['yes', 'no'],
     'col1': [['walmart', 'us', 'market', 'box', 'walmart'], 
              ['this', 'is', 'sample', 'market', 'sample']]}

In [304]:
df = pd.DataFrame(df)

In [305]:
label = []
word = []
freq = []
for j in range(len(voc)):
    for i in range(df.shape[0]):
        label.append(df.iloc[i]['label'])
        word.append(voc[j])
        freq.append(df.iloc[i]['col1'].count(voc[j]))

In [306]:
data = list(zip(label,word, freq))

In [307]:
df = pd.DataFrame(data, columns=['labels', 'word', 'value'])

In [308]:
pvt = df.pivot('labels', 'word', 'value')

In [309]:
reshaped_df = pvt.rename_axis(None, axis=1).reset_index()

In [310]:
reshaped_df

  labels  box  is  market  sample  this  us  walmart
0     no    0   1       1       2     1   0        0
1    yes    1   0       1       0     0   0        2

In [328]:
df = pd.DataFrame([
    { 'label': 'spam', 'message': 'this is sample message' },
    { 'label': 'ham', 'message': 'this is another sample messagae' }
])

In [329]:
df = pd.DataFrame(df)

In [330]:
df

  label                          message
0  spam           this is sample message
1   ham  this is another sample messagae

In [331]:
from sklearn.feature_extraction.text import CountVectorizer

In [333]:
vectorizer = CountVectorizer()

# Use the content column instead of our single text variable
matrix = vectorizer.fit_transform(df.message)
counts = pd.DataFrame(matrix.toarray(),
                  index=df.label,
                  columns=vectorizer.get_feature_names())

counts.head()

       another  is  messagae  message  sample  this
label
spam         0   1         0        1       1     1
ham          1   1         1        0       1     1